// COLORS
$cl-yellow: hsl(47, 88%, 63%);
$cl-white: hsl(0, 0%, 100%);
$cl-grey: hsl(0, 0%, 50%);
$cl-black: hsl(0, 0%, 7%);

// FONT-FAMILY:
$ff-figtree: "Figtree", sans-serif;

// FONT-SIZE
$fs-normal: 1.6rem;

// FONT-WEIGHTS:
$fw-medium: 600;
$fw-xlarge: 800;
